.counts {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 225px;
    margin: auto;
}

.counts div {
    padding: 20px 20px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.counts span {
    float: right;
}

h3 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px 10px;
}