/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #6771fc, #280577);
    background: linear-gradient(to right, #6f57fa, #17007e);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}